@font-face {
  font-family: "DNFForgedBlade";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf")
    format("opentype");
}

body {
  position: relative;
}

input {
  font-family: "DNFForgedBlade";
}

a {
  text-decoration: none;
  color: #666;
}

footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 10px;
  font-size: 12px;
}

/* scroll up */
#go-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  outline: 0;
  border: 0;
  /* background: transparent; */
  background-color: #fff;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 1;
  color: #333;
}
