
  #go-top {
    position: fixed;
    right: 30px;
    bottom: 50px;
    outline: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    z-index: 9999;
    color: black;
  }
  
.review_container {
  background-color: blueviolet;
}

.review {
  background-color: cadetblue;
  max-width: 100%;
}

.review_list {
  background-color: darksalmon;
  width: 100%;
}

.review_content {
  background-color: aqua;
  display: flex;
  align-items: center;
  width: 100%;
}

.hidden {
  display: none;
}

