/* 세팅 */
@font-face {
  font-family: "DNFForgedBlade";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "Giants-Inline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

p,
h1,
h2,
h3,
strong,
body {
  font-family: "DNFForgedBlade";
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.cursor {
  cursor: pointer;
}

.highlight {
  color:rgb(255, 37, 37);
}

/* 헤더 */
.logo_area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: black;
  /* border: 3px dotted rgb(248, 52, 52); */
}

.full_logo {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex-direction: row;
  width: 1100px;
}

.full_logo > a {
  width: 300px;
  display: flex;
  align-items: center;
}

.orange_icon {
  background-image: url("../assets/icon/icons8-orange-64.png");
  background-repeat: no-repeat;
  background-position: 50% 120%;

  width: 60px;
  height: 60px;
  scale: 70%;

  /* border: 3px dotted rgb(248, 52, 52); */
}

.rotten {
  font-family: "Giants-Inline";
  font-size: 25px;
  color: orange;
}

/* 영화상세정보 */
.movie_area {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* 영상 */
.video_area {
  max-width: 1100px;
  margin: 30px auto 0 auto;
}

.video_area .video {
  width: 100%;
}

/* 영화 정보 */
.detail_area {
  max-width: 1100px;
  margin: 30px auto 0 auto;
  margin-top: 2rem;
  padding: 1rem;
}

.detail_Top {
  padding-bottom: 1rem;
  border-bottom: solid 2px #eee;
}

.detail_Top_Header {
  margin-bottom: 1rem;
  /* border: 3px dotted rgb(231, 132, 18); */
}

.detail_Top_Inner {
  display: flex;
}

/* 수정 */
.detail_Top_Inner .highlight {
  margin-right: 3px;
}

.detail_Top_Inner p::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 5px 10px 0;
  background: #ddd;
  vertical-align: top;
}

.detail_Top_Inner p:last-child::after {
  content: none;
}

/* 수정 */
.detail_Bottom {
  padding-top: 1rem;
}
/* 수정 */

.detail_Bottom_Inner {
  display: flex;
}

.detail_Bottom_Header {
  font-size: 18px;
  margin-right: 0.7rem;
  min-width: 40px;
  /* border: 3px dotted rgb(0, 0, 0); */
}

.detail_Bottom_Intro {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  width: 500px;
  max-height: 80px;
  /* border: 3px dotted rgb(0, 0, 0); */
}
